<nav class="nav">
  <div class="select-btn btn"><span>Select Charts</span></div>
  <ul class="nav-list">
    <li data-chart="bar"><span>Bar Chart</span></li>
    <li data-chart="line"><span>Line Chart</span></li>
    <li data-chart="area"><span>Area Chart</span></li>
    <li data-chart="pie"><span>Pie Chart</span></li>
    <li data-chart="waterBall"><span>WaterBall Chart</span></li>
    <li data-chart="radar"><span>Radar Chart</span></li>
    <li data-chart="shapeBar"><span>ShapeBar Chart</span></li>
  </ul>
</nav>
<div class="update-btn btn"><span>Update Data</span></div>
<div class="tooltip">
  <span class="name"></span>
  <span class="value"></span>
  <p>Rate：<span class="rate"></span></p>
</div>

